@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Domine';
  src: url('/fonts/Domine-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

* {
  font-family: 'Domine', 'Inter', sans-serif;
  box-sizing: border-box;
}

/* Rating styles */
.custom-rating .MuiRating-iconFilled {
  color: #f78a79;
}

.custom-rating .MuiRating-iconHover {
  color: #f78a79;
}

/* Button styles */
.btn {
  background-color: #f78a79;
}

/* Scrollbar styles */
body {
  scrollbar-width: thin;
  transition: padding-right 0.3s ease;
}

body.scrolling {
  scrollbar-width: 1px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body.scrolling::-webkit-scrollbar {
  width: 5px;
}

body.scrolling::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.swiper {
  width: 100%;
  height: 450px;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-home {
  height: 600px !important;
}

.swiper-width {
  width: 95% !important;
  /* justify-content: space-around !important; */
}

.swiper-element {
  width: 70% !important;
}

.swiper-pagination {
  position: absolute !important;
  z-index: 9 !important;
  bottom: 0 !important;
}
.swiper {
  /* height: 500px !important; */
}
.swiper-pagination-bullet-active {
  background: #f78a79 !important;
}
