@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Domine';
  src: url('/fonts/Domine-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

* {
  font-family: 'Domine', sans-serif;
  box-sizing: border-box;
}

/* Rating styles */
.custom-rating .MuiRating-iconFilled {
  color: #f78a79;
}

.custom-rating .MuiRating-iconHover {
  color: #f78a79;
}

/* Button styles */
.btn {
  background-color: #f78a79;
}

/* Scrollbar styles */
body {
  scrollbar-width: thin;
  transition: padding-right 0.3s ease;
}

body.scrolling {
  scrollbar-width: 1px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body.scrolling::-webkit-scrollbar {
  width: 5px;
}

body.scrolling::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
