@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

/* Rating styles */
.custom-rating .MuiRating-iconFilled {
  color: #f78a79;
}

.custom-rating .MuiRating-iconHover {
  color: #f78a79;
}

/* Button styles */
.btn {
  background-color: #f78a79;
}

/* Scrollbar styles */
body {
  scrollbar-width: thin;
  transition: padding-right 0.3s ease;
}

body.scrolling {
  scrollbar-width: auto;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body.scrolling::-webkit-scrollbar {
  width: 5px;
}

body.scrolling::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom-swiper .swiper-pagination-bullet {
  background-color: #f78a79;
  margin-bottom: -10px;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #f78a79;
}

.swiper-pagination-bullets {
  margin-bottom: -10px;
}

.Btnstyle {
  backgroundcolor: #f87171;
  marginy: 30px;
  borderradius: 10px;
  paddingleft: 40px;
  paddingright: 40px;
}
